<h3 class="mypage-title">マイページ</h3>

<div class="mypage-menu">
    <table class="mypage-menu-table">
        <tr>
            <td class="mypage-menu-table-data"><%= link_to "アカウント", users_account_path(id: current_user.id) %></a></td>
            <td class="mypage-menu-table-data"><%= link_to "プロフィール", users_profile_path(id: current_user.id) %></a></td>
        </tr>
    </table>
</div>