header {
    background-color: #CCFF00;
    padding: 5px 10px;
    opacity: 0.9;
}

footer {
    background-color: #CCFF00;
    padding: 5px 10px;
    opacity: 0.9;
}

.header-link {
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
}

.footer-title {
    margin: 0;
}

.footer-copyrights {
    margin: 0;
}

.serch-rooms {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    padding: 10px;
}

.btn-success {
    width: 80%;
}

.serch {
    width: 80%;
    margin-bottom: 10px;
}

.recommend-title {
    border-bottom: 2px solid #ccff00;
    width: fit-content;
    padding-right: 5px;
    margin-top: 20px;
}

.recommend-area-text {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    color: #000000;
    width: fit-content;
    border-radius: 5px;
    padding: 2px 5px;
}

.recommend {
    margin: 0 20px 20px 20px;
}

.header-login {
    position: absolute;
    top: 5px;
    right: 10px;
}

.create-user {
    background-color: #EEEEEE;
    padding: 50px 0;
}

.create-user-form {
    background-color: #ffffff;
    margin: 50px auto;
    width:60%;
    padding: 0 10px 10px 10px;
}

.create-user-title {
    padding-top: 10px;
    margin: 0 auto 10px auto;
    width: fit-content;
}

.btn-danger {
    margin-top: 5px;
    width: 80%;
}

.user-create-submit {
    text-align: center;
}

.user-info {
    position: absolute;
    top: 5px;
    right: 10px;
}

.mypage-menu-table {
    border-collapse: collapse;
    width: 80%;
    height: 40px;
    margin: 0 auto 30px auto;
}

.mypage-menu-table-data {
    border: solid 1px #aaaaaa;
    text-align: center;
    width: 50%;
}

.account-container {
    background-color: #EEEEEE;
    margin: 0;
    padding: 30px 0;
}

.account-main {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto ;
}

.mypage-title {
    text-align: center;
    margin-bottom: 20px;
}

.title-account {
    border-bottom: 2px solid #ccff00;
    margin-bottom: 20px;
}

.account-info-email {
    display: flex;
}

.label-email {
    width: 20%;
}

.account-info-password {
    display: flex;
}

.label-password {
    width: 20%;
}

.submit-newuser {
    text-align: center;
}

.user-create-login {
    text-align: right;
}

.login-user-form {
    background-color: #ffffff;
    margin: 50px auto;
    width:50%;
    padding: 0 10px 10px 10px;
}

.label-login {
    width: 30%;
}

.submit-login {
    text-align: center;
}

.create-room-form {
    background-color: #ffffff;
    margin: 50px auto;
    width:40%;
    padding: 0 10px 10px 10px;
}

.create-room-cancel {
    margin-top: 20px;
    text-align: center;
}

.room-show-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
}

.room-info-container {
    margin-left: 50px;
    background-color: #FFDBC9;
}

.room-info {
    width: 500px;
    padding: 10px;
    height: fit-content;
}

.room-reservation {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    background-color: #ffffff;
}

.reservation-form {
    width: 90%;
    margin: 0 auto;
}

.submit-reservation {
    margin: 10px auto 10px auto;
    text-align: center;
}

.room-name-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.room-name {
    font-size: 25px;
    color: #666666;
}

.room-price {
    font-size: 30px;
    color: #FF367F;
}

.room-address {
    color: #666666;
}

.room-show-title {
    margin: 20px 30px;
}

.room-index-image {
    width: 300px;
}

.room-show-image {
    width: 400px;
}


.room-container {
    display: flex;
    flex-wrap: wrap;
}

.room-item {
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #CBFFD3;
    border-radius: 30px;
}

.room-image-container {
    flex: 1;
}

.room-index-image {
    max-width: 100%;
    height: auto;
}

.room-image-container {
    margin: 10px auto 0 auto;
}

.room-index-info {
    margin: 0 auto 10px auto;
    width: 300px;
}

.rooms-count {
    margin-top: 30px;
}

.reservation-show {
    background-color: #EEEEEE;
    height: 600px;
    display: flex;
}

.reservation-confirm-container {
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    height: 450px;
}

.reservation-confirm {
    margin: 40px auto;
    height: fit-content;
}

.reservation-room-img {
    width: 240px;
}

.reservation-index-title {
    margin-top: 10px;
}

.reservation-index-info {
    width: 800px;
    margin: 20px auto;
}

.reservation-edit-image {
    margin: 0 auto;
}

.room-edit-image {
    width: 400px;
    margin: 0 auto;
}

.reservation-room-content {
    display: flex;
    justify-content: space-between;
    margin: 20px 60px 0 60px;
}

.reservation-room-price {
    color: red;
}

.reservation-edit-table {
    margin: 0 auto;
}

.reservation-edit-container {
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    height: 550px;
}

.header-avatar {
    width: 5px;
}